{% extends 'engLearn/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <br>
    <br>
    <a href="{% url 'add_to_my_added_word' %}">Добавить слово на изучение</a>
    <br>
    <br>
    {% if my_added_words %}
        {% for word in my_added_words %}
            {{ word.en_word }} - {{ word.ru_word }}
            <br>
            <br>
            {{ word.en_example }} - {{ word.ru_word }}
            <br>
            <form method="get" action="{% url 'add_examples_my_added_word'  word.slug %}">
                <button>Добавить примеры</button>
            </form>
            <br>
            <img src="{% if word.img %}{{ word.img.url }}{% endif %}" width="450" height="350">
            <br>
            <br>
            <form action="{% url 'remove_from_my_added_word' word.slug %}" method="POST">
                {% csrf_token %}
                <button>Удалить слово из списка</button>
            </form>
            <br>
        {% endfor %}
    {% else %}
        <h1>Список ваших слов сейчас пуст :c </h1>
    {% endif %}
{% endblock %}