{% extends 'engLearn/base.html' %}
{% load tz %}
{% block title %} {{ title }}{% endblock %}
{% block content %}
    <br>
    <br>
    {% if not studying_now_objects %}
        <h2>Список слов на изучении пуст:3</h2>
    {% else %}
        {% for elem in studying_now_objects %}
            {{ elem.date_added|timezone:"Europe/Moscow" }}
            {{ elem.word.en_word }} - {{ elem.word.ru_word }}
            <br>
            <br>
            {{ elem.word.en_example }} - {{ elem.word.ru_example }}
            <br>
            <br>
            {% for example in elem.word.wordexamples_set.all %}
                {{ example.en_example_user }} - {{ example.ru_example_user }}
                <br>
            {% endfor %}
            <br>
            <br>
            {% if elem.word.user_images %}
                <img src="{{ elem.word.user_images.image.url }}" width="450" height="350">
            {% else %}
                <img src="{{ elem.word.img_link }}" width="450" height="350">
            {% endif %}
            <br>
            <br>
            <form action="{% url 'remove_from_studying' elem.word.slug %}" method="POST">
                {% csrf_token %}
                <button>Удалить слово из списка</button>
            </form>
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
