{% extends 'engLearn/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    {{ word.en_word }}
    <br>
    {{ word.ru_word }}
    <br>
    {{ word.en_example }}
    <br>
    {{ word.ru_example }}
    <br>
    <img src="{{ word.img_link }}">
    <br>
    {% if not in_list %}
        <form action="{% url 'add_to_studying' word.slug %}" method="POST">
            {% csrf_token %}
            <button>Добавить в изучение</button>
        </form>
    {% endif %}
{% endblock %}

