{% extends 'engLearn/base.html' %}
{% load static %}


{% block title %} {{ word.en_word.capitalize }} {% endblock %}
{% block content %}
    <br>
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
    {% endif %}

    {{ word.en_word }} -     {{ word.ru_word }}

    <br>
    <br>
    {{ word.en_example }} -     {{ word.ru_example }}

    <br>
    <br>
    {% if user_examples %}
        <h3>Мои примеры</h3>
        {% for examples in user_examples %}
            {{ examples.en_example_user }} - {{ examples.ru_example_user }}

            <form method="post" action="{% url 'remove_example'  example_id=examples.id word_slug=word.slug %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Удалить этот пример">
            </form>

            <br>
        {% endfor %}
    {% endif %}
    <form method="get" action="{% url 'add_examples'  word.slug %}">
        <button>Добавить примеры</button>
    </form>
    <br>

    <form method="get" action="{% url 'change_image'  word.slug %}">
        <button>Сменить картинку</button>
    </form>

    <br>
    <br>
    {% if user_img %}
        <img src="{{ user_img }}" width="420" height="330">
    {% else %}
        <img src="{{ word.img_link }}">
    {% endif %}

    <br>
    {% if user.is_authenticated %}
        {% if not in_list %}
            <form action="{% url 'add_to_studying' word.slug %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="page" value="{{ page_number }}">
                <button>Добавить в изучение</button>
            </form>
        {% elif in_list %}
            {% if not messages %}
                <h2>Это слово уже находится в списке на изучение :3</h2>
            {% endif %}
        {% endif %}
    {% else %}
        <h2>Вы можете добавить это слово в изучение если войдете в свой аккаунт </h2>
        <br>
        <a href="{% url 'login' %}">Войти/Зарегистрироваться</a>
        <br>
        <br>
    {% endif %}

    <br>
    <a href="{% url 'home' %}?page={{ page_number }}">Назад</a>



{% endblock %}
